*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;

  font-family: sans-serif;
  line-height: 1.5;
  color: #404040;
  background: lightblue;
}

header {
  text-align: center;
}

.game {
  width: 50rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: rgb(53, 53, 53);
  color: #e1eeeb;
  border-radius: 5px;
}

.players {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.players div {
  padding: 0 2rem;
  margin-bottom: 1rem;

  display: flex;
  gap: 2rem;
}

.active {
  border: 2px solid lightgreen;
  border-radius: 5px;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#game-board ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#game-board button {
  width: 6rem;
  height: 6rem;
  padding: 1rem;

  font-size: 3rem;
  cursor: pointer;
}

.score {
  margin: 2rem 0;
  text-align: center;
}
