*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;

  font-family: sans-serif;
  line-height: 1.5;
  color: #404040;
  background: lightblue;
}

header {
  text-align: center;
}

#game {
  width: 50rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: rgb(53, 53, 53);
  color: #e1eeeb;
  border-radius: 5px;
}

.players {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.players div {
  padding: 0 2rem;
  margin-bottom: 1rem;

  display: flex;
  gap: 2rem;
}

.active {
  border: 2px solid lightgreen;
  border-radius: 5px;
}

#game-board {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: 8rem 8rem 8rem;
  gap: 1rem;
  justify-content: center;

  & button {
    text-align: center;
    font-size: 4rem;
  }
}

.result {
  margin: 3rem 0rem 1rem;
  text-align: center;
  color: lightgreen;
  font-size: 1.3rem;

  & button {
    padding: 1rem 2rem;
    font-size: 1rem;

    background-color: lightgreen;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: rgb(87, 144, 87);
    }
  }
}
